---
import { languages ,defaultLang} from '@/i18n/ui';
import { getLangFromUrl } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const {origin}=Astro.url;
---

<div class="relative ml-1 mr-1">
  {
    Object.entries(languages).map(([langPrefix, label]) => {
      if (langPrefix === lang) return <></>;
      if(langPrefix === defaultLang) {
        return (
          <a
            href={`${origin}/?lang=${langPrefix}`}
            class="hover:scale-125 transition"
          >{label}</a>
        );
      }
      
      return (
        <a
          href={`${origin}/${langPrefix}/?lang=${langPrefix}`}
          class="hover:scale-125 transition"
        >{label}</a>
      );
    })
  }
</div>
